body{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin:10px auto;
    box-sizing: border-box;

}
nav{
    display: flex;
    background: black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 20px;
    width: 100%;
    height: 100%;

}
nav ul li{
    list-style: none;
    margin: 0 0 0 auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
nav ul li:hover{
    background-color: azure;
    color: white;
    cursor: pointer;
    text-decoration: none;

}
nav ul li:active{
    background-color: yellow;
    color: white;
    cursor: pointer;
    text-decoration: none;

}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;



}
.hero-image{
    background-image: url('https://cdn.pixabay.com/photo/2016/04/19/13/22/hospital-1338585_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;

}
.hero-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}
.hero-text h1{
    text-align: center;
    font-size: 40px;
    color: white;

}
.hero-text p{
    text-align: center;
    font-size: 30px;
    color: white;

}
.hospital-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
#CTA-1{
    background-color:cadetblue;
   color: white;
   border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

    font-weight: bold;
}
.facilities-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
.facilities img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}